.app {
    width: 500px;
    margin: auto;
    border: 1px dashed black;
    padding: 20px;
}
.calculator {
    max-width: 400px;
    margin: auto;
}

button {
    width: 25%;
    height: 60px;
    font-size: 30px;
}

.clear {
    width: 200px;
}

h1 {
  text-align: center;
}

.result {
    height: 60px;
    width: 100%;
  }
  
  .result p {
    font-size: 40px;
    margin: 5px;
  
  }