body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app {
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: lightgray;
  border: 1px solid black
}
.calculator {
  max-width: 400px;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: lightgray;
  color: black;
}

.clear, .backspace {
  width: 200px;
  font-size: 20px;
}

h1 {
  text-align: center;
}

.display {
  text-align: right;
  height: 20px;
  padding: 5px;
}

.result {
  text-align: right;
  height: 90px;
  width: auto;
  border: 1px solid darkgray;
  background-color: seashell;
}
  
.result p {
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}