body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app {
    width: 500px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    background-color: lightgray;
}
.calculator {
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

button {
    width: 25%;
    height: 60px;
    font-size: 30px;
    background-color: black;
    color: white;
}

button:hover {
  background-color: lightgray;
  color: black;
}

.clear, .backspace {
    width: 200px;
    font-size: 20px;
}

h1 {
  text-align: center;
}

.result {
  border: 1px solid black;
  height: 80px;
  width: 380px;
}
  
.result p {
  border: 1px solid red;
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}