body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: lightslategrey;
}
button {
    width: 100px;
    height: 25px;
    background-color: salmon;
    color: white;
}
input[type=text] {
    width: 200px;
    height: 20px;
}
ol {
    font-style: italic;
}