body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: whitesmoke;
}

.title {
    text-align: center;
}

.app {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color:#121e2a;
    border: 1px solid black;
}

textarea {
    background-color: #121e2a;
    color: white;
    resize: none;
    overflow: hidden;
    border: 0px none;
    height: 70px;
    width: 400px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.img-input {
    font-size: medium;
}

.tweet-submit {
    width: 400px;
    text-align: right;
}
  
.no-outline:focus {
    border: 0px none;
    outline: none;
}

button {
    background-color: lightskyblue;
    color: black;
    width: 70px;
    height: 30px;
}

button:hover {
    background-color: lightgray;
    color: black;
}

.tweet {
    color: white;
    border: 1px solid black;
    padding: 10px;
}
.tweet-input {
    padding: 20px;
}

.tweet-title {
    color: lightskyblue;
}

.tweet-img {
    border-radius: 25px;
    padding: 10px;
    width: 460px;
    height: 260px;
}